---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Posts from "@/layouts/Posts.astro";
import Books from "@/layouts/Books.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { BsArrowRightCircle } from "react-icons/bs";
import { getTaxonomy } from "@/lib/taxonomyParser.astro";
import { humanize } from "@/lib/utils/textConverter";
import { BiCategoryAlt } from "react-icons/bi";
import { FaHashtag } from "react-icons/fa";
import { getCollection } from "astro:content";
import CurrentPost from "@/layouts/CurrentPost.astro";

const tags = await getTaxonomy("posts", "tags");

const posts = await getCollection("posts", ({ data }) => data.lang === "en");
const sortedPosts = sortByDate(posts);
const currentPosts = sortedPosts.slice(0,2)
const pastEvents = sortedPosts.filter(post=> post.data.date ? post.data.date < new Date() : false).slice(1,5)

const books = await getSinglePage("books");
const sortedBooks = sortByDate(books);
const totalPagesOfBooks = Math.ceil(books.length / config.settings.pagination);
const currentBooks = sortedBooks.slice(0, config.settings.pagination);

const categories = await getTaxonomy("posts", "categories");


---

<Base>
  <div class="grid grid-cols-1 md:grid-cols-5">
    <div class="col-span-1">
      <section class="section">
        <div class="container mb-40">
          <h1 class="h5 mb-5">Announcements</h1>
          <CurrentPost posts={currentPosts} className="mb-16" fluid={true} />
          <hr class="my-10"/>
         </div>
         
        
      </section>
         </div>
    <div class="col-span-3">
      <section class="section">
        <div class="container text-black" >
          <h1 class="h2 mb-5">MARSEV</h1>
         <p class="mb-2">
          The Marmara Health Education and Research Foundation is a foundation that provides services for the purpose of establishing projects in primary healthcare services to contribute to primary healthcare services and education, and to effectively deliver equal, balanced, and the highest possible level of preventive and curative healthcare services, education, and other social services to everyone living in Turkey. It does this by establishing and operating educational institutions at all levels that provide pre-graduation, post-graduation, and in-service training, and to organise seminars and courses.
         </p>
         <p class="mb-2">
MARSEV defines itself as a reliable, pioneering, inclusive, knowledge-based, primary care-oriented education and research foundation. Its mission is to ‘Strengthen Primary Care’ in healthcare.
         </p>
         <p class="mb-2">
          The main focus of the foundation's activities is the strengthening of primary care, strong primary care management, implementation, competencies, services, and multidisciplinary work. Education and research activities are planned and organised around this focus.
        </p>
         <p  class="mb-2">
          Our foundation works with volunteers in these areas and is supported by experienced educators and enthusiastic and energetic young doctors and nurses. We believe that other disciplines working in the field of health will also find a place to work at our Foundation. We are ready to work together. While our courses and congresses continue, we aim to contribute to the health of the community through our public education programmes and projects on basic health issues. 
         </p>
         <p class="mb-4">
          Your individual or corporate contributions to the Foundation's activities are very valuable to us. We invite you to become a MARSEV volunteer.
         </p>
         <p class="mb-3">
          Yours sincerely,
         </p>
         <p>
          Executive Board Members
         </p>
          <hr class="my-10"/>
         </div>
         
      
      </section>
     <section class="section">
    <div class="container">
          <h1 class="h2 mb-5">Past Activites</h1>
          <Posts posts={pastEvents} className="mb-16" />
          <div class="flex justify-end">
            <a
            href={`/posts`}
            class="inline-flex items-center text-primary transition duration-200 hover:opacity-70"
          >
            See All <BsArrowRightCircle className="inline ml-2" />
          </a>
          </div>
          
        </div>
  </section>
   <section class="section">
        <div class="container">
          <h2 class="mb-5">Books</h2>
          <Books books={currentBooks} className="mb-16" />
          <Pagination currentPage={1} totalPages={totalPagesOfBooks} />
        </div>
      </section>
    </div>
    
    <div class="col-span-1">
      <section class="pt-20 mb-5">
        <div class="container text-center">
          <h1 class="h5 mb-3">Categories</h1>
          <ul class="mx-4">
            {
              categories.map((category) => (
                <li>
                  <a
                    href={`/categories/${category}`}
                    class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
                  >
                    <BiCategoryAlt className="mr-1 text-primary group-hover:text-white transition h-6 w-6 scale-75" />
                    <>{humanize(category || "")}</>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
      <section class="my-5">
        <div class="container text-center">
          <h1 class="h5 mb-3">Tags</h1>
          <ul class="mx-4 text-start">
            {
              tags.map((tag) => (
                <li class="inline-block">
                  <a
                    href={`/tags/${tag}`}
                    class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
                  >
                    <FaHashtag className="mr-1 text-primary group-hover:text-white transition" />
                    <>{humanize(tag || "")}</>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </div>
  </div>
  

  
</Base>
